*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: Arial, Helvetica, sans-serif;

}
.carousel-item{
    width: 100%;
    height: 100%;
}
/* .card-body{
    min-height: 200px !important;
    min-width: 30% !important;  
}
.asd {
    min-height: 200px !important;
    min-width: 30% !important;  
} */
